<div ng-controller="AguaCtrl">
<ion-view>
  <ion-content class="">
<div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpgf);padding:0%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-color: #FB1B07;padding:0%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    <div class="row fondoagua">
      <div class="col">
        <br>
        <h1 style="-webkit-text-stroke:2px black;color:black;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px; ">El Agua</h1>
        <div class="contenido">
          <br>
          <p><b>El agua (Speaker Icon.svg escuchar) (del latín aqua) es una sustancia cuya molécula está compuesta por dos átomos de hidrógeno y uno de oxígeno (H2O).2​ El término agua generalmente se refiere a la sustancia en su estado líquido, aunque la misma puede hallarse en su forma sólida, llamada hielo, y en su forma gaseosa, denominada vapor.2​ Es una sustancia bastante común en la tierra y el sistema solar, donde se encuentra principalmente en forma de vapor o de hielo. Es esencial e imprescindible para el origen y la supervivencia de la gran mayoría de todas las formas conocidas de vida.</b></p>
          <img style="widht:100px;height:100px;border-radius:20%;" src="https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/article/5b0ba9cf5bafe86f067e8d56/calentar-agua_0.jpg" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px black;color:black;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Propiedades</h1>
        <div class="contenido">
          <br>
          <p><b>El agua es una sustancia que químicamente se formula como H2O, es decir, que una molécula de agua se compone de dos átomos de hidrógeno enlazados covalentemente a un átomo de oxígeno.</b></p>
          <img style="widht:100px;height:100px;border-radius:20%;" src="https://media.giphy.com/media/Gy4X3RLccwEIU/giphy.gif" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px black;color:black;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Importancia</h1>
        <div class="contenido">
          <br>
          <img style="width:320px;height:300px;border-radius:20%;" src="https://media.giphy.com/media/Gy4X3RLccwEIU/giphy.gif" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px black;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Uso y Cuidado</h1>
        <div class="contenido">
          <br>
          <img style="width:320px;height:300px;border-radius:20%;" src="https://media.giphy.com/media/Gy4X3RLccwEIU/giphy.gif" alt="agua">
          <br>

        </div>
        <br><br>
      </div>
    </div>

  </ion-content>
</ion-view>
