<ion-view>
  <ion-content class="foninfo">
     <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpgf);padding:0%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/61d1de7bcb82467d9b87ec8d4107dbaf/tumblr_oo4azoWHKE1s49veho1_400.jpg);padding:0%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:red;background-color: #FB1B07;padding:0%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    <div class="row">
      <div class="col">
        <h1 class="a text-center">LA REPRODUCCION SEXUAL</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-50 info">
        <div class="teoria text-center">
          <br><br>
          <p><b>a reproducción sexual es el proceso de crear un nuevo organismo descendiente a partir de la combinación de material genético de dos organismos con material genético similar, comenzando con un proceso que se denomina meiosis, que es un tipo especializado de división celular; el cual se produce en organismos eucariotas.1​2​ Los gametos son los dos tipos de células especiales, uno más grande, el femenino, y otro más pequeño, el masculino.  </b></p>
          <br><br>
      <h3 class="reproduccion" >Reproducción Vegetal</h3>
        <img  class="ejemplo" src=https://www.monografias.com/trabajos100/reproduccion-y-desarrollo-vegetal/image001.jpg>
      </div>
      <div class="col-50 info">
        <br>
        
        </div>
      </div>
    </div>
    <div class="row">    
        <div class="col-50 info">
          <div class="teoria2 text-center">
             <br><br>           
                    <p><b> Intervienen dos progenitores que producen gametos en sus organos sexuales. En la fecundacion se unen los gametos femeninos y masculinos y se forma el gigota que producira un individuo disdinto a los progenitores </b></p>
          <br><br>

      <h3 class="reproduccion" >Reproducción Humana</h3>
        <img  class="ejemplo2" src="http://slideplayer.es/slide/3270288/11/images/1/La+reproducci%C3%B3n+humana.jpg">
    </div>
       
        </div>
      </div>
      <div class="col-50 info">
  </ion-content>
</ion-view>
