<ion-view >
  <ion-content class="fondoin">
  	
  		
      <div class="row" style="background:;background-position:center;">
      
    <div class="col efecto" style="position:center;color: #fff;
    font-family: sans-serif;
    font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/a1b2f5e90832e34c424091ad45668616/tumblr_o0a7y1zYMJ1szjdlpo1_400.gif);padding:7%;"><b ui-sref="login">Login</b></div>
  </div>
  <br>
  <br>
  <br>
  <img class="fondoinicio" src="https://66.media.tumblr.com/c8f430f8cba6b812b6d499348af05eab/tumblr_oirvzeNdJB1s49veho1_400.jpg">
  <br>
  <br>
  <br>
  <br>
  <div class="col efecto" style="color: #fff;
    font-family: sans-serif;
    font-size:20px;margin-top:0%;text-align:center;color:red;background-image:url(https://66.media.tumblr.com/a1b2f5e90832e34c424091ad45668616/tumblr_o0a7y1zYMJ1szjdlpo1_400.gif);padding:7%;"><b ui-sref="registro">No Me He Registrado</b

  
      
    
  </ion-content>
</ion-view>
